@using MvcNotification.Infrastructure.Notification;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mvcNotify.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.11.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/mvcNotify.js")" type="text/javascript"></script>
</head>

<body>

	<div id="mvcNotify" style="display: none">
		@Html.RenderMessages()
	</div>
    @RenderBody()
</body>
</html>
